{% extends 'Company/company_header.html' %}
{% load static %}
{% block content %}
        <div class="container d-flex justify-content-center align-items-center">
            <div class="card-div d-flex justify-content-center align-items-center">
                <div class="card">
                    <img src="add-tpo.png" class="card-img-top" alt="Job Posts">
                    <h4 class="text-center job-header">Interview Form</h4>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="name" class="form-label">Student Name</label>
                                        <input type="text" value="{{stud_data.student.name}}" class="form-control" readonly id="name"
                                            aria-describedby="name"  placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="email" class="form-label">Date & Time</label>
                                        <input type="datetime-local" class="form-control" id="email"
                                            aria-describedby="email" name="interview_scheduled" placeholder="Enter Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="phone" class="form-label">Mode</label>
                                        <select class="form-select" name="interview_mode" aria-label="Select">
                                            <option selected disabled>Select</option>
                                            <option value="Online">Online</option>
                                            <option value="Offline">Offline</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="name" class="form-label">Meeting Link <small id="emailHelp"
                                                class="form-text text-muted">(If any)</small></label>
                                        <input type="url" class="form-control" name="interview_link" id="name" aria-describedby="name"
                                            placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-4">
                                        <label for="jdate" class="form-label">Instructions</label>
                                        <textarea class="form-control" name="instructions" id="address" rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary tpo-submit">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
   {% endblock %}